/*
Media Queries
-------------
    Help create a responsive website.
    media features - width(of viewport)

    @media (width: 400px){
        div{
            background-color: red;
        }
    }


    more media features - width, height, orientation(portrait or landscape) etc.



    min-width is 400px or greater than 400px then it will change.
    @media (min-width : 400px) {
        div {
            background-color : red;
        }
    }

    max-width is 400px or less than 400px then it will change.
    @media (max-width : 400px){
        div{
            background-color: red;
        }
    }

    range(200-300)
    @media (min-width : 200px) and (max-width : 300px) {
        div {
            background-color : red;
        }
    }



    orientation (of viewport)
    -------------------------
        @media (orientation : landscape) {
            div {
                background-color : red;
            }
        }






*/

h1{
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 400px){
    h1{
        background-color: red;
    }
}

div{
    height: 100px;
    width: 100px;
    background-color: blue;
}

@media (min-width: 700px){
    h1{
        background-color: greenyellow;
    }
}

@media (max-width: 200px){
    h1{
        background-color: pink;
    }
}

@media (min-width: 200px) and (max-width: 300px){
    h1{
        background-color: magenta;
    }
}

@media (orientation: landscape){
    h1{
        background-color: aqua;
        color: brown;
    }
}