<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h2>Enter Your Information</h2>
    <br>
    <br>
    <form method="post" action="/posts" >
        Username: <input type="text" name="username" placeholder="Enter your username">
        <br>
        <br>
        Email: <input type="email" name="email" placeholder="Enter your email">
        <br>
        <br>
        Password: <input type="password" name="password" placeholder="Enter password">
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>