 <%- include("includes/head.ejs") %>

<body>
    <h1>Your Requested Page is not Found!</h1>
    <h3>User doesn't exists...</h3>
    <h3>No such account...</h3>
    <%- include("includes/footer.ejs")%>
</body>
</html>