/* Q6 */
button:hover{
    color: blue;
    background-color: yellow;
}

/* Q7 */
.paragraphs p:nth-child(2n-1){
    color:yellow;
}

/* Q8 */
#mainTopic::first-letter{
    color: red;
}

/* Q9 */
#yes:checked + label{
    color: darkgreen;
}

/*Q10*/

/*ans of Q10:

#mainContent > div .main > .main > h1

*/