/* 
z-index
--------

    It decides the stack level of elements

    Overlapping elements with a larger z-index cover those with a smaller one.

        z-index : auto (0)

        z-index : 1 / 2 / ... upper

        z-index : -1 / -2 / ...  lower

    doesn't work for default position or static position.

        
*/

.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}

.one{
    background-color: aquamarine;
    position: relative;
    z-index: 2;
}

.two{
    background-color: darksalmon;
    position: relative;
    bottom: 50px;
    z-index: 1;
}