body{
    text-align: center;
}

#facts{
    text-align: center;
    height: auto;
    width: auto;
    background-color: pink;
    display: none;
}

#dogImg{
    margin-left: auto;
    margin-right: auto;
    
    display: none;
    height: 350px;
    width: 500px;
}