/*universal selector*/

*{
    font-family: 'Courier New', Courier, monospace;
}

/*element selector*/
h1{
    color:#1b74e4;
}
/*id selector*/
#searchbtn{
    color: white;
    background-color: black;
}

/*class selector*/
.userbtn{
    background-color: aqua;
}