<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <h1 >Welcome to <i>Instagram</i></h1>
    </div>
    <hr/>

    <form method="post" action="/posts">
        User Name: <input type="text" name="username" placeholder="Enter your Username">
        <br/>
        <br/>
        Image: <input type="url" name="image" placeholder="Enter image url">
        <br/>
        <br/>
        <button>Post</button>
    </form>

</body>
</html>